html, body {
    font-family: 'Outfit', sans-serif;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid;
    margin-bottom: 30px;
    transition: border-color 0.3s ease; 
}

.form-label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1.2em;
    font-weight: 500;
    pointer-events: none;
    transition: 0.3s ease;
    color: #717070;
}

.input-box input:focus ~ .form-label,
.input-box input:valid ~ .form-label {
    top: -8px;
    font-size: 0.9em;
    color: #007bff; 
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 40px 0 20px;
    font-size: 1.3em; 
    color: white;
    cursor: pointer; 
}

.input-box .icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #666;
}

.input-box input:focus {
    border-color: #007bff;
}
 
.input-box input:hover {
    border-bottom: 2px solid #555;
}
